table {
    width: 600px;
}
table, tr, th, td {
    border-style: dotted;
    border: 8px solid pink;
    border-collapse: collapse;
    text-align: center;
}
img {
    width: 150px;
    height: 150px;
}